* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.bgimg {
    filter: grayscale(1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

body{
    content: "";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /*background-image: url("resources/image.webp"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    z-index: 0;
}

.logo img {
    position: fixed;
    width: 20%;
    height: auto;
    top: 2vh;
    left: 2vw;
}



.container {
    height: auto;
    margin: 30vh 0;
    display: block;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 3%;
    line-height: 2.0;
    color: white;
    width: 35vh;
    background-color: rgb(0,0,0,0.8);
    border: 2px
}

.botoes {
    text-align: center
}

.input input{
    color:white;
    width: 100%;
    background: rgb(44, 44, 44);
    border: rgb(128, 128, 128) 1px solid;
    outline: none;
    padding: 8px;
    margin: 2%;
    font-size: 0.9em;
    box-sizing: border-box;
}

.esqueci-senha a, .esqueci-senha a:visited {
    text-decoration: none;
    color:white;
    display: block;
    text-align: center;
    margin: 0px;
}

.botao-entrar {
    color: white;
    width: 100%;
    background: rgb(255, 123, 0);
    border: none;
    outline: none;
    padding: 8px;
    margin: 2%;
    font-size: 0.9em;
    box-sizing: border-box;
}

.botao-codigo {
    color: white;
    width: 100%;
    background: rgb(83, 83, 83, 0.5);
    border: none;
    outline: none;
    padding: 8px;
    margin: 2%;
    font-size: 0.9em;
    box-sizing: border-box;
}

footer {
    width: 100%;
    text-align: center;
    padding: 16px 0;
    background: rgba(0,0,0,1);
    color: #fff;
}

.linha1 {
    margin-top:2vh;
    color: gray;
    display: flex;
    align-items: left;
    padding-left: 5vw;
    justify-content: space-between;
}
.linha2 {
    text-decoration: underline;
    margin-top:2vh;
    color: gray;
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    align-items: center;
    justify-content: space-between;
}

.linha3, a:visited {
    text-decoration: underline;
    margin-top:2vh;
    color: gray;
    display: flex;
    padding-left: 5vw;
    padding-right: 19vw;
    align-items: center;
    justify-content: space-between;
}

.linha4 a{
    text-decoration: none;
    margin-top: 2vh;
    color: white;
    display: flex;
    padding-left: 5vw;
    padding-right: 21vw;
    align-items: center;
    justify-content: space-between;
}



